/*font*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*colors*/
$orange: hsl(26, 100%, 55%);
$pale: hsl(25, 100%, 94%);

/*neutral colors*/
$very_dark_blue: hsl(220, 13%, 13%);
$dark_grayish_blue: hsl(219, 9%, 45%);
$grayish_blue: hsl(220, 14%, 75%);
$light_grayish_blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
/* Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}
.flex {
  display: flex;
  gap: 1rem;
}
.header {
  height: 60px;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-between;
}
.header-svgs {
  align-items: center;
}
a {
  text-decoration: none;
  color: $dark_grayish_blue;
}
li {
  list-style: none;
}

.rightIcons {
  display: flex;
  align-items: center;

  .cartIcon {
    cursor: pointer;
    margin-right: 2rem;
    height: 20px;
  }
  .avatar {
    height: 40px;
  }
}

.navigation {
  background: #fff;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 60%;

  a {
    text-decoration: none;
    font-weight: 700;
  }
  li {
    margin: 2rem;
    margin-left: 1.25rem;
  }
}
.open .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product {
  min-width: 100%;
  max-height: 30vh;
}
.wrapper {
  margin: 1rem;
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: $orange;
    margin-bottom: 0.5rem;
  }
  h1 {
    line-height: 1;
    margin-bottom: 1rem;
  }
  p {
    font-size: 16px;
    color: $dark_grayish_blue;
    line-height: 1.5;
  }
  .price {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}
.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  div {
    align-items: center;
  }
  .rabatt {
    font-weight: 700;
    color: $orange;
    border-radius: 4px;
    font-size: 14px;
    padding: 0.25rem;
    background-color: $pale;
  }
  .old-price {
    font-size: 14px;
    color: $grayish_blue;
    text-decoration: line-through;
  }
}
.btn-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: $light_grayish_blue;
  border-radius: 8px;
  button {
    background-color: transparent;
  }
  .less {
    cursor: pointer;
    width: 20%;
    padding: 1rem;
    border: none;
  }
  .amount {
    // padding: 1rem;
    width: 60%;
    text-align: center;
    background-color: $light_grayish_blue;
    font-weight: 700;
  }
  .more {
    cursor: pointer;
    width: 20%;
    padding: 1rem;
    border: none;
  }
}
#btnAddToCart {
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  border: none;
  background: $orange;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .cart-btn {
    height: 15px;
    width: auto;
    margin-right: 1.5rem;
    color: #fff;
  }
}
.cart {
  display: none;
  height: 26vh;
  width: 92%;
  position: absolute;
  border-radius: 8px;
  background: #fff;

  margin: 1rem;
  h3 {
    font-size: 16px;
    padding: 1rem;
  }
  hr {
    width: 100%;
    border: solid 1px;
    color: $grayish_blue;
  }
  .cart-body {
    margin-top: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    p {
      font-weight: 700;
      color: $dark_grayish_blue;
    }
  }
}

.cart-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //  padding: 1rem;
  margin-top: -50px;
  // position: absolute;
  //top: 5rem;
  //left: 1rem;
  .thumpProduct {
    //margin-right: 1rem;
    width: 40px;
    height: auto;
    border-radius: 4px;
  }
  .textCart {
    text-align: left;
    p {
      font-size: 14px;
      color: $grayish_blue;
    }
  }
}
#checkout {
  padding: 1rem;
  border: none;
  color: #fff;
  background: $orange;
  width: 100%;
  border-radius: 8px;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 600px) {
  header nav {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .icon {
    display: none;
  }
  .logo {
    margin-left: 30px;
  }
}
