/*font*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*colors*/
$orange: hsl(26, 100%, 55%);
$pale: hsl(25, 100%, 94%);

/*neutral colors*/
$very_dark_blue: hsl(220, 13%, 13%);
$dark_grayish_blue: hsl(219, 9%, 45%);
$grayish_blue: hsl(220, 14%, 75%);
$light_grayish_blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
/* Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%);*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}

.header {
  display: flex;
  height: 60px;
  padding: 0.75rem;

  justify-content: space-between;
}
.header-svgs {
  display: flex;
  align-items: center;
  svg {
    margin-top: 3px;
  }
}

a {
  text-decoration: none;
  color: $dark_grayish_blue;
}
li {
  list-style: none;
}

.rightIcons {
  display: flex;
  align-items: center;

  .cartIcon {
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 3px;
    height: 20px;
    width: auto;
  }
  .avatar {
    height: 40px;
  }
}

.navigation {
  background: #fff;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 60%;

  a {
    text-decoration: none;
    font-weight: 700;
  }
  li {
    margin: 2rem;
    margin-left: 1.25rem;
  }
}
.open .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 20;
}
.product {
  width: 100%;
  height: auto;
}
.circle {
  background: $orange;
  position: absolute;
  width: 15px;
  margin-top: -4px;
  margin-left: 5px;
  height: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  border-radius: 50px;
  text-align: center;
}
.wrapper {
  margin: 1rem;
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: $orange;
    margin-bottom: 0.5rem;
  }
  h1 {
    line-height: 1;
    margin-bottom: 1rem;
  }
  p {
    font-size: 16px;
    color: $dark_grayish_blue;
    line-height: 1.5;
  }
  .price {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
}
.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  div {
    align-items: center;
  }
  .rabatt {
    font-weight: 700;
    color: $orange;
    border-radius: 4px;
    font-size: 14px;
    padding: 0.25rem;
    background-color: $pale;
  }
  .old-price {
    font-size: 14px;
    color: $grayish_blue;
    text-decoration: line-through;
  }
}
.btn-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: $light_grayish_blue;
  border-radius: 8px;
  button {
    background-color: transparent;
  }
  .less {
    cursor: pointer;
    width: 20%;
    padding: 1rem;
    border: none;
  }
  .amount {
    // padding: 1rem;
    width: 60%;
    text-align: center;
    background-color: $light_grayish_blue;
    font-weight: 700;
  }
  .more {
    cursor: pointer;
    width: 20%;
    padding: 1rem;
    border: none;
  }
}
#btnAddToCart {
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  border: none;
  background: $orange;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .cart-btn {
    height: 15px;
    width: auto;
    margin-right: 1.5rem;
    color: #fff;
  }
}
.cart {
  display: none;
  height: 26vh;
  width: 92%;
  position: absolute;
  border-radius: 8px;
  background: #fff;
  z-index: 100;
  margin: 1rem;
  h3 {
    font-size: 16px;
  }
  hr {
    width: 100%;
    border: solid 1px;
    color: $grayish_blue;
  }
  .cart-body {
    margin-top: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    p {
      font-weight: 700;
      color: $dark_grayish_blue;
    }
  }
}

.cart-display {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: -30px;

  .thumpProduct {
    width: 40px;
    height: auto;
    border-radius: 4px;
  }
  .textCart {
    text-align: left;
    p {
      font-size: 14px;
      color: $grayish_blue;
      span {
        color: black;
        font-weight: 700;
      }
    }
  }
}
#checkout {
  cursor: pointer;
  padding: 1rem;
  border: none;
  color: #fff;
  background: $orange;
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
}

.deletCart {
  cursor: pointer;
}
.closingCart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.closingIcon {
  cursor: pointer;
}

/* image slider start*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* image slider end*/

/* media querries start*/
@media only screen and (min-width: 600px) {
  header .nav {
  }
  position: relative;
}
@media only screen and (min-width: 600px) {
  .icon {
    visibility: hidden;
    display: none;
  }
  header {
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;
  }
  .logo {
    //  margin-left: 30px;
  }
  .header-svgs {
    margin-top: 6px;
    pointer-events: none;
  }
  .navigation {
    display: flex;
    z-index: 10;
    height: auto;
    //  background-color: steelblue;
    top: 0;
    left: 0;
    flex-direction: row;
    background: none;
  }
  .open .navigation {
    display: none;
    z-index: 20;
  }
}
/* media querries end*/
